body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-transform: uppercase;
  background-color:lightblue;
  color: mediumpurple;
  text-shadow: 2px 2px 5px  #000;
}

h3 {
  background-color: aquamarine;
}

h4{
  text-align: center;
}

h4 a:hover {
  color: burlywood;
}

u {
  color: forestgreen;
}

img {
  height: 240px;
  width: 350px;
  
  
  
}

p {
  text-align: justify;
  
}

span {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-indent: 50px;
}

.bold {
  background-color: bisque;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: red;
  font-weight: bold;
}

nav a:hover {
  color: #555;
}